<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectMaelstrom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectMaelstrom.Properties.Settings>
            <setting name="Resolution" serializeAs="String">
                <value />
            </setting>
            <setting name="OCR_SPACE_APIKEY" serializeAs="String">
                <value />
            </setting>
        </ProjectMaelstrom.Properties.Settings>
    </userSettings>
</configuration>